@charset "UTF-8";
/* ------------------------------------------------------------------------------------------
    ブレイクポイント
---------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------
    color
---------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------
    共通パーツ 
---------------------------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

img {
  width: 100%;
}

body {
  max-width: 1280px;
  font-size: 16px;
  color: #3e3e3e;
  line-height: 1.5;
  margin: 0 auto;
  font-family: "游ゴシック体" serif;
}

.util-title {
  font-size: 36px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .util-title {
    font-size: 30px;
  }
}

.main {
  background: #f3f3f3;
}

/* ------------------------------------------------------------------------------------------
    header
---------------------------------------------------------------------------------------------*/
.header {
  max-width: 1280px;
  margin: 0 auto;
  background: url(/image/mv.png);
  width: 100%;
  height: 648px;
}

@media screen and (max-width: 767px) {
  .header {
    height: 667px;
    padding-top: 68px;
  }
}

.sp-title {
  height: 68px;
  font-size: 23px;
  line-height: 68px;
  padding-left: 16px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  max-width: 1280px;
  background: #fff;
  z-index: 10;
}

.drawer-hamburger {
  z-index: 20;
  top: 5px;
}

.drawer-nav {
  z-index: 20;
}

.drawer-overlay {
  background: #333;
  z-index: 15;
}

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1280px;
  z-index: 20;
}

@media screen and (max-width: 767px) {
  .header-nav {
    position: relative;
  }
}

.header-nav-list {
  display: flex;
  justify-content: center;
  height: 83px;
  align-items: center;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .header-nav-list {
    display: block;
  }
}

.header-nav-item + .header-nav-item {
  margin-left: 24px;
}

@media screen and (max-width: 767px) {
  .header-nav-item + .header-nav-item {
    margin-left: 0;
  }
}

.header-nav-link {
  color: #3e3e3e;
  text-decoration: none;
  padding: 10px 0px;
  transition: border 0.1s;
}

.header-nav-link:hover {
  opacity: 0.7;
  border-bottom: solid 3px #ffaa3b;
}

.header-body {
  margin-left: 50%;
  margin-right: 40px;
  padding-top: 153px;
}

@media screen and (max-width: 767px) {
  .header-body {
    margin-left: 16px;
    padding-top: 161px;
    margin-right: 16px;
  }
}

.header-title {
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header-title {
    font-size: 24px;
  }
}

.header-text {
  font-size: 18px;
  margin-top: 30px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .header-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .header-footer {
    text-align: center;
  }
}

.header-submit {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #ffaa3b;
  text-align: center;
  padding: 16px 50px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 30px;
  letter-spacing: 2px;
  transition: background-color 0.2s;
}

@media screen and (max-width: 767px) {
  .header-submit {
    font-size: 14px;
  }
}

.header-submit:hover {
  background: #f0821e;
}

/* ------------------------------------------------------------------------------------------
    news
---------------------------------------------------------------------------------------------*/
.news {
  background: #f3f3f3;
  padding-top: 120px;
}

.news-box {
  background: #fff;
  margin: 0 40px;
  padding-bottom: 54px;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .news-box {
    margin: 0 5%;
    padding-bottom: 40px;
  }
}

.news-title {
  padding: 60px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .news-title {
    padding: 40px 0;
  }
}

.news-item {
  margin: 0 60px;
  border-top: solid 1px #cecdcd;
}

@media screen and (max-width: 767px) {
  .news-item {
    margin: 0 16px;
  }
}

.news-item + .news-item {
  border-bottom: solid 1px #cecdcd;
}

.news-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  min-height: 90px;
  margin: 20px 0;
  position: relative;
  transition: opacity 0.3s;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .news-link {
    display: block;
    height: 100%;
  }
}

.news-link:hover:hover {
  background-color: rgba(73, 115, 255, 0.1);
}

.news-link:after {
  content: "";
  position: absolute;
  background: url(/image/news-arrow.png);
  width: 14px;
  height: 24px;
  right: 18px;
}

@media screen and (max-width: 767px) {
  .news-link:after {
    top: 50%;
    transform: translateY(-50%);
  }
}

.news-item-date-label {
  display: flex;
}

.news-item-date {
  flex: 0 0 110px;
  color: #3e3e3e;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .news-item-date {
    margin-left: 16px;
    margin-bottom: 12px;
    font-size: 14px;
  }
}

.news-item-label {
  font-size: 14px;
  flex: 0 0 100px;
  height: 22px;
  border: solid 2px #3b69ff;
  border-radius: 50px;
  color: #3e3e3e;
  text-align: center;
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .news-item-label {
    width: 20%;
    display: inline-block;
    margin-left: 0;
    font-size: 12px;
  }
}

.news-item-text {
  flex: 0 1 70%;
  color: #3e3e3e;
  margin-left: 90px;
  margin-right: 70px;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .news-item-text {
    margin-left: 16px;
    margin-right: 40px;
    font-size: 14px;
  }
}

.news-btn {
  text-align: center;
  margin-top: 70px;
}

@media screen and (max-width: 767px) {
  .news-btn {
    margin-top: 40px;
  }
}

.news-submit {
  padding: 20px 80px;
  border: solid 1px #707070;
  color: #3e3e3e;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 4px;
  transition: 0.3s;
}

.news-submit:hover {
  background-color: #707070;
  color: #fff;
}

/* ------------------------------------------------------------------------------------------
    Service
---------------------------------------------------------------------------------------------*/
.service {
  background: linear-gradient(to bottom, #333 85%, transparent 85%, transparent 100%);
  margin-top: 120px;
}

@media screen and (max-width: 767px) {
  .service {
    background: linear-gradient(to bottom, #333 60%, transparent 60%, transparent 100%);
    margin-top: 60px;
  }
}

.service-title-box {
  width: 100%;
}

.service-title {
  color: #fff;
  text-align: center;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .service-title {
    padding: 40px 0;
  }
}

.service-item-box {
  background: #fff;
  max-width: 75%;
  display: flex;
  padding: 60px 45px;
  margin: 0 auto;
  box-shadow: 0px 5px 12px rgba(62, 62, 62, 0.2);
}

@media screen and (max-width: 767px) {
  .service-item-box {
    display: block;
    max-width: 90%;
    padding: 40px 15px;
  }
}

.service-item {
  align-self: center;
  text-align: center;
  flex: 0 1 100%;
}

@media screen and (max-width: 767px) {
  .service-item {
    width: 100%;
  }
  .service-item + .service-item {
    margin-top: 40px;
  }
}

.service-item + .service-item {
  margin-left: 90px;
}

@media screen and (max-width: 767px) {
  .service-item + .service-item {
    margin-left: 0px;
  }
}

.service-image {
  width: 60px;
  height: 60px;
}

.service-item-title {
  margin-top: 8px;
  font-size: 20px;
}

.service-item-text {
  margin-top: 20px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .service-item-text {
    text-align-last: left;
  }
}

/* ------------------------------------------------------------------------------------------
    results
---------------------------------------------------------------------------------------------*/
.results {
  margin-top: 120px;
  max-width: 1240px;
  margin-left: auto;
  background: #3e3e3e;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .results {
    max-width: 100%;
    margin-top: 60px;
  }
}

.results-title {
  color: #fff;
  padding-top: 60px;
  padding-left: 60px;
}

@media screen and (max-width: 767px) {
  .results-title {
    padding-left: 0;
    text-align: center;
  }
}

.results-box {
  margin-left: 60px;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .results-box {
    margin-left: 0px;
  }
}

.results-item {
  background: #fff;
}

.results-item-title {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 16px;
  font-weight: bold;
}

.swiper-slide {
  z-index: 1;
}

.results-item-text {
  margin: 16px;
}

.swiper-pagination {
  margin-top: 30px;
  margin-left: 60px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .swiper-pagination {
    position: relative;
    margin: 0;
    top: 50px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
  margin-right: 16px;
  margin-bottom: 16px;
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  border: solid 1px #fff;
  transform: translate(-50%, -50%);
  opacity: 1;
  border-radius: 50%;
}

.results-btn {
  margin-left: 60px;
  margin-top: 90px;
}

@media screen and (max-width: 767px) {
  .results-btn {
    text-align: center;
    margin-left: 0;
  }
}

.results-submit {
  padding: 20px 80px;
  color: #fff;
  border: solid 1px #fff;
  letter-spacing: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s;
}

.results-submit:hover {
  color: #3e3e3e;
  background-color: #fff;
}

/* ------------------------------------------------------------------------------------------
    price
---------------------------------------------------------------------------------------------*/
.price-title {
  text-align: center;
  padding-top: 120px;
}

@media screen and (max-width: 767px) {
  .price-title {
    margin-top: 40px;
  }
}

.price-box {
  max-width: 75%;
  margin: 0 auto;
  margin-top: 60px;
}

@media screen and (max-width: 767px) {
  .price-box {
    max-width: 90%;
    margin-top: 40px;
  }
}

.price-item {
  display: flex;
  font-size: 24px;
}

.price-item-title {
  color: #fff;
  background: #3e3e3e;
  flex: 0 0 27%;
  text-align: center;
  padding: 16px 0;
  border: solid 2px #707070;
}

.price-text {
  padding: 16px 0;
  padding-left: 40px;
  flex: 0 1 100%;
  background: #fff;
  border: solid 2px #707070;
  border-left: none;
}

.border-none {
  border-bottom: none;
}

.price-footer {
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .price-footer {
    margin-bottom: 60px;
  }
}

/* ------------------------------------------------------------------------------------------
     Comments 
---------------------------------------------------------------------------------------------*/
.comments {
  margin-top: 120px;
  padding: 0 40px;
  padding-bottom: 126px;
  position: relative;
}

.comments:after {
  position: absolute;
  content: "";
  background: #333;
  width: 100%;
  height: 100%;
  left: 0;
  top: 20%;
  width: 76%;
}

@media screen and (max-width: 767px) {
  .comments:after {
    top: 15%;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .comments {
    padding: 0;
    margin-top: 60px;
  }
}

.comments-box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .comments-box {
    display: block;
  }
}

.comments-title-box {
  background: #fff;
  flex: 0 0 55%;
  position: relative;
  z-index: 9;
  padding: 120px 0;
}

@media screen and (max-width: 767px) {
  .comments-title-box {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    padding: 40px 0;
  }
}

.comments-title {
  margin-bottom: 60px;
  margin-left: 60px;
}

@media screen and (max-width: 767px) {
  .comments-title {
    margin-bottom: 40px;
    margin-left: 20px;
  }
}

.comments-title-content {
  display: flex;
}

.comments-title-content:first-of-type {
  margin-bottom: 72px;
}

@media screen and (max-width: 767px) {
  .comments-title-content + .comments-title-content {
    margin-top: 40px;
  }
  .comments-title-content:first-of-type {
    margin-bottom: 40px;
  }
}

.comments-title-image {
  margin: 0px 32px 0px 60px;
}

@media screen and (max-width: 767px) {
  .comments-title-image {
    margin: 0 20px;
  }
}

.comments-title-image img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 767px) {
  .comments-title-image img {
    width: 60px;
    height: 60px;
  }
}

.comments-title-text {
  margin-right: 60px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .comments-title-text {
    margin-right: 20px;
  }
}

.comments-image-box {
  flex: 0 0 45%;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .comments-image-box {
    display: none;
  }
}

/* ------------------------------------------------------------------------------------------
    Q&A
---------------------------------------------------------------------------------------------*/
.qaa {
  background: url(/image/qa-bg.png);
  padding: 0 40px;
  padding-bottom: 120px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .qaa {
    padding: 0 5%;
    margin-top: 60px;
    padding-bottom: 60px;
  }
}

.qaa-title {
  text-align: center;
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .qaa-title {
    padding: 40px 0;
  }
}

.accordion-content {
  width: 50%;
  margin-left: auto;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 32px;
}

.accordion-content:last-of-type {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {
  .accordion-content {
    width: 100%;
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.accordion-head {
  font-weight: bold;
  padding: 12px 0 20px 56px;
  position: relative;
}

.accordion-head:before {
  position: absolute;
  content: "Q";
  width: 24px;
  height: 24px;
  background: #3b69ff;
  color: #fff;
  text-align: center;
  left: 16px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-head:after {
  position: absolute;
  content: "";
  width: 17px;
  height: 16px;
  background: url(/image/plus.png);
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion-body {
  margin: 0px 16px;
  padding-bottom: 16px;
}

.accordion-body-in {
  padding: 16px;
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
}

/* ------------------------------------------------------------------------------------------
    access
---------------------------------------------------------------------------------------------*/
.access {
  margin-right: 40px;
}

@media screen and (max-width: 767px) {
  .access {
    margin-right: 0;
  }
}

.access-box {
  display: flex;
  background: linear-gradient(to right, #333 76%, transparent 76%, transparent 100%);
}

@media screen and (max-width: 767px) {
  .access-box {
    display: block;
    background: #333;
  }
}

.access-title-box {
  flex: 0 0 41.5%;
}

.access-title {
  color: #fff;
  padding: 120px 0px 60px 100px;
}

@media screen and (max-width: 767px) {
  .access-title {
    padding: 40px 0px 40px 16px;
  }
}

.access-address {
  color: #fff;
  padding: 0 100px 45px 100px;
}

@media screen and (max-width: 767px) {
  .access-address {
    padding: 0px 0px 24px 16px;
  }
}

.access-btn-pc {
  padding: 0 100px 123px 100px;
  width: 314px;
  height: 64px;
}

@media screen and (max-width: 767px) {
  .access-btn-pc {
    display: none;
  }
}

.access-submit-pc {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 20px;
  width: 314px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border: solid 1px #fff;
  transition: all 0.3s;
}

@media screen and (max-width: 767px) {
  .access-submit-pc {
    font-size: 18px;
  }
}

.access-submit-pc:hover {
  color: #3e3e3e;
  background-color: #fff;
}

.access-map-box {
  flex: 0 1 58.5%;
  position: relative;
  top: 120px;
}

@media screen and (max-width: 767px) {
  .access-map-box {
    position: static;
    height: 300px;
    padding: 0 16px;
  }
}

.access-map-box iframe {
  width: 100%;
  height: 100%;
}

.access-btn-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .access-btn-sp {
    display: block;
    padding: 16px 16px 60px 16px;
  }
}

.access-submit-sp {
  color: #fff;
  display: block;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border: solid 1px #fff;
  transition: all 0.3s;
}

.access-submit-sp:hover {
  color: #3e3e3e;
  background-color: #fff;
}

/* ------------------------------------------------------------------------------------------
    Contact Us
---------------------------------------------------------------------------------------------*/
.contact {
  margin-top: 240px;
  background: url(/image/contact-bg.png);
  padding: 60px 160px;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 0;
    padding: 40px 16px;
  }
}

.contact-title-box {
  background: url(/image/contact1.png) no-repeat center top;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.contact-title {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .contact-title {
    padding-top: 40px;
  }
}

.contact-text {
  margin-top: 16px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .contact-text {
    margin-top: 12px;
    padding-bottom: 40px;
  }
}

.contact-form {
  max-width: 100%;
  background: #fff;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
}

.contact-item-box {
  padding-top: 60px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 0px 120px 32px;
}

@media screen and (max-width: 767px) {
  .contact-item {
    margin: 0 12px 32px;
    display: block;
  }
}

.contact-item-title {
  flex: 0 0 30%;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .contact-item-title {
    margin-bottom: 12px;
  }
}

.contact-title-red {
  position: relative;
}

.contact-title-red:after {
  position: absolute;
  content: "必須";
  color: #fff;
  background: red;
  font-size: 12px;
  padding: 2px 8px;
  margin-left: 20px;
}

.contact-item-content {
  flex: 0 0 70%;
}

select {
  border: none;
  border: solid 1px #3e3e3e;
  border-radius: 0;
  color: #3e3e3e;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 80px 0 8px;
  transition: box-shadow 0.2s;
}

@media screen and (max-width: 767px) {
  select {
    width: 100%;
  }
}

select:hover {
  box-shadow: 0 0 4px #4973ff;
}

input[type="text"], input[type="email"] {
  border: none;
  border-bottom: solid 1px #3e3e3e;
  border-radius: 0;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: inherit;
  letter-spacing: 0.03em;
  padding: 3px 12px 2px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 767px) {
  input[type="text"], input[type="email"] {
    padding: 3px 0px 2px;
  }
}

input[type="text"]:hover, input[type="text"]:focus {
  border-color: #4973ff;
  outline: none;
}

input[type="email"]:hover, input[type="email"]:focus {
  border-color: #4973ff;
  outline: none;
}

input[type="text"]:hover + .contact-focusLine, input[type="text"]:focus + .contact-focusLine {
  opacity: 1;
}

.contact-radio {
  margin-right: 40px;
}

.contact-item-message {
  margin: 0 120px;
}

@media screen and (max-width: 767px) {
  .contact-item-message {
    margin: 0 5%;
  }
}

textarea {
  width: 100%;
  resize: vertical;
  min-height: 160px;
  padding: 10px;
}

textarea:hover {
  border-color: #4973ff;
  box-shadow: 0 0 4px #4973ff;
}

.contact-footer {
  margin-top: 40px;
}

.contact-privacy {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  top: -1.4px;
  margin-left: 120px;
}

@media screen and (max-width: 767px) {
  .contact-privacy {
    margin-left: 12px;
  }
}

.contact-privacy-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-privacy-input:checked + .contact-privacy-part {
  width: 10px;
  border-top: 0;
  border-left: 0;
  background-color: transparent;
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  left: 5px;
  transition: all 0.2s;
}

.contact-privacy-part {
  display: inline-block;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: #fff;
  border: solid 1px #3b69ff;
}

.contact-privacy-link {
  color: #3e3e3e;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.contact-footer-btn {
  margin: 40px 0px 0px 120px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .contact-footer-btn {
    text-align: center;
    margin-left: 0;
  }
}

.contact-submit {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #ffaa3b;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
  border: none;
  padding: 16px 45px;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-submit:hover {
  opacity: 0.7;
}

/* ------------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------------*/
.footer {
  display: flex;
  padding: 47px 160px;
  background: #3e3e3e;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer-sns {
    text-align: center;
  }
}

.footer-sns a {
  font-size: 33px;
  color: white;
  transition: all 0.3s;
}

.footer-sns a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .footer-sns a {
    font-size: 36px;
  }
}

.icon + .icon {
  margin-left: 32px;
}

@media screen and (max-width: 767px) {
  .icon + .icon {
    margin-left: 50px;
  }
}

.footer-link-box {
  margin-top: 30px;
}

.footer-link {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  width: max-content;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-link + .footer-link {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .footer-link {
    margin: 0 auto;
  }
  .footer-link + .footer-link {
    margin-top: 40px;
  }
  .footer-link:hover {
    border: none;
    opacity: 0.7;
  }
}

.footer-title {
  font-size: 40px;
  color: #e3e3e3;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
  }
}

.footer-copyright {
  color: #e3e3e3;
  font-size: 12px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer-copyright {
    text-align: center;
    margin-top: 12px;
    font-size: 15px;
  }
}

/* ------------------------------------------------------------------------------------------
    page-top
---------------------------------------------------------------------------------------------*/
#page-top {
  background-color: #3e3e3e;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 25px;
  z-index: 15;
  cursor: pointer;
}

#page-top:hover {
  opacity: 0.7;
}

#page-top:after {
  position: absolute;
  content: "";
  display: block;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  left: 15px;
  top: 20px;
}
